In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
s=pd.Series([1,3,5,np.nan,6,8])
print(s)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
dates=pd.date_range('20180703',periods=7)#20180703으로부터 일주일
print(dates)

DatetimeIndex(['2018-07-03', '2018-07-04', '2018-07-05', '2018-07-06',
               '2018-07-07', '2018-07-08', '2018-07-09'],
              dtype='datetime64[ns]', freq='D')

In [18]:
df=pd.DataFrame(np.random.randn(7,3),index=dates,columns=list('dog'))#테이블 형태의 데이터프레임 생성
print(df)

                   d         o         g
2018-07-03 -1.246092 -1.268503  1.095800
2018-07-04 -0.842231  0.531090  0.906464
2018-07-05  0.185067 -0.938695 -0.213364
2018-07-06 -0.412540  1.951485  0.937610
2018-07-07  0.915378  0.144795  0.168038
2018-07-08  0.177666 -0.358112  0.934674
2018-07-09 -1.236918  1.435972  0.516952

In [15]:
df2=pd.DataFrame({'A':1.,
                  'B':pd.Timestamp('20180703'),
                  'C':pd.Series(1,index=list(range(4)),dtype='float32'),
                  'D':np.array([3]*4,dtype='int32'),
                  'E':pd.Categorical(["test","train","test","train"]),
                  'F':'foo'})
print(df2)
print(df2.dtypes)

     A          B    C  D      E    F
0  1.0 2018-07-03  1.0  3   test  foo
1  1.0 2018-07-03  1.0  3  train  foo
2  1.0 2018-07-03  1.0  3   test  foo
3  1.0 2018-07-03  1.0  3  train  foo
A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [19]:
print(df.head(2))
print(df.tail(2))

                   d         o         g
2018-07-03 -1.246092 -1.268503  1.095800
2018-07-04 -0.842231  0.531090  0.906464
                   d         o         g
2018-07-08  0.177666 -0.358112  0.934674
2018-07-09 -1.236918  1.435972  0.516952

In [22]:
print(df.index)
print(df.columns)

DatetimeIndex(['2018-07-03', '2018-07-04', '2018-07-05', '2018-07-06',
               '2018-07-07', '2018-07-08', '2018-07-09'],
              dtype='datetime64[ns]', freq='D')
Index(['d', 'o', 'g'], dtype='object')

In [26]:
print(df[1:])

                   d         o         g
2018-07-04 -0.842231  0.531090  0.906464
2018-07-05  0.185067 -0.938695 -0.213364
2018-07-06 -0.412540  1.951485  0.937610
2018-07-07  0.915378  0.144795  0.168038
2018-07-08  0.177666 -0.358112  0.934674
2018-07-09 -1.236918  1.435972  0.516952

In [30]:
print(df[df.o>0])

                   d         o         g
2018-07-04 -0.842231  0.531090  0.906464
2018-07-06 -0.412540  1.951485  0.937610
2018-07-07  0.915378  0.144795  0.168038
2018-07-09 -1.236918  1.435972  0.516952

In [34]:
df2=df.copy()
df2['E']=['one','one','two','three','three','four','seven']
print(df2)
print()
print(df2[df2['E'].isin(['two','four'])])

                   d         o         g      E
2018-07-03 -1.246092 -1.268503  1.095800    one
2018-07-04 -0.842231  0.531090  0.906464    one
2018-07-05  0.185067 -0.938695 -0.213364    two
2018-07-06 -0.412540  1.951485  0.937610  three
2018-07-07  0.915378  0.144795  0.168038  three
2018-07-08  0.177666 -0.358112  0.934674   four
2018-07-09 -1.236918  1.435972  0.516952  seven

                   d         o         g     E
2018-07-05  0.185067 -0.938695 -0.213364   two
2018-07-08  0.177666 -0.358112  0.934674  four

* Series: 일련의 객체를 담을 수 있는 1차원 배열 같은 자료 구조, Numpy자료형을 담을 수 있다. 색인과 값을 저장하고, 배열로 부터 생성할 수 있다

In [9]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

obj = Series([4.,7,-5,3])
print(obj)
print(obj.values)
print(obj.index)

obj2 = Series([1,2,3,4],index=['a','b','c','d'])
print(obj2)

0    4.0
1    7.0
2   -5.0
3    3.0
dtype: float64
[ 4.  7. -5.  3.]
RangeIndex(start=0, stop=4, step=1)
a    1
b    2
c    3
d    4
dtype: int64

In [10]:
print(np.exp(obj2))

a     2.718282
b     7.389056
c    20.085537
d    54.598150
dtype: float64